body {
    background-color: #3A3D83;
}

.bg_accent {
    background-color: #A4CB72;
}

@media only screen and (max-width: 768px) {
    .border-start,
    .border-end {
        border: none !important;
    }
}